*{
	margin: 0;
	padding: 0;
}

html,body{
  height: 100%;
  width: 100%;
  /*background-color: #32CD32;*/
  padding: 10px 0;
}

.snip1198 {
  font-family: "arial", "sans-serif";
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1198 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1198 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.8em;
  padding: 0;
}
.snip1198 a {
  padding: 0 0.7em;
  color: gray;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snip1198 a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: 3px;
  border-right: 3px;
}

.snip1198 a:hover,
.snip1198 .current a {
  color: black;
}

.snip1198{
  width: 90%;
  margin-right: 80%;
  margin-top: 50px;
  background-color: white;
}

#logo{
	margin-left: 20px;
}

#corpo{
	width: 100%;
	margin-left: 50px;
}

#input{
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

#rodape{
  clear: both;
  margin-top: 5%;
  padding: 0px;
  padding-bottom: 0;
  bottom: 0;
}

#esquerda{
  width: 50%;
  margin-left: 15%;
  float: left;
}

#direita{
  width: 30%;
  float: right;
}

.container{
  height: 100%;
  background-color: #FF8C00;
}

#pedidos_abertos{
  width: 70%;
}

#pedidos_entregues{
  width: 80%;


